<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	  <add key="MinimalAPI_Intramex" value="http://10.78.33.99:8085" />
	  <add key="LogPath" value="C:\Logs\WS_ReportesFacturacion\" />
    <!--<add key="LogPath" value="C:\Aplicativos\ReportesFacturacion_Finanzas\Log\" />-->
    <add key="DaysOfBackup" value="2" />
    <add key="Email" value="paola.arellano@tme21.com" />
    <!--<add key="Email" value="helmut.mueller@tme21.com, armando.alfaro@tme21.com, desarrollo@tme21.com" />-->
	 <add key="UrlNas" value="\\10.78.33.159\IntraMex\Adjuntos\" />
    <!-- Configuración de acceso a directorio en la NAS -->
	  <add key="ImpersonationUserName" value="intramex" />
	  <add key="ImpersonationPassword" value="Intr4SMb+PAsz" />
	  <add key="ImpersonationDomain" value="tme21" />
	  <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>